<div class="d-flex flex-wrap flex-column">
  <h1 class="m-2">About Adele</h1>
  <p class="text-justify m-2">
    <strong>Adele Laurie Blue Adkins</strong> (MBE) (Londres, 5 de maio de 1988)
    é uma cantora, compositora e multi-instrumentista britânica. Nascida e
    criada no distrito de Tottenham, em Londres, começou a cantar aos quatro
    anos de idade e iniciou sua carreira artística em 2006, após se graduar na
    BRIT School e assinar um contrato com a XL Recordings. Adele foi descoberta
    pela gravadora através de demos musicais postadas em seu perfil na rede
    social MySpace. Em 2007, ela recebeu o prêmio Critics' Choice do Brit Awards
    e alcançou o topo do BBC Sound of 2008. Seu álbum de estreia, 19, foi
    lançado em janeiro de 2008 sendo bem recebido comercialmente e pela crítica.
    Foi certificado como Disco de Platina 8 vezes no Reino Unido e três vezes
    nos Estados Unidos. O álbum rendeu quatro singles, incluindo "Hometown
    Glory", a primeira música escrita por Adele, aos 16 anos, baseada em sua
    vida no subúrbio onde morou, West Norwood, em Londres. Uma aparição que ela
    fez no Saturday Night Live no final de 2008 impulsionou sua carreira nos
    EUA. No Grammy Awards de 2009, Adele recebeu os prêmios de Artista Revelação
    e Melhor Performance Vocal Pop Feminina.
  </p>
</div>
